<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 class="fa fa-road">资源概览页面</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="panel panel-default">
                        <div class="panel-heading">已申请列表：</div>
                        <div class="panel-body">
                            <div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">序号</th>
                                        <th class="text-center">环境类型</th>
                                        <th class="text-center">主机类型</th>
                                        <th class="text-center">系统类型</th>
                                        <th class="text-center">CPU</th>
                                        <th class="text-center">memory</th>
                                        <th class="text-center">数量</th>
                                        <th class="text-center">申请原因</th>
                                        <th class="text-center">处理结果</th>
                                        <th class="text-center">返回信息</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">{{ content.id}}</td>
                                        <td class="text-center">{{ content.env_type }}</td>
                                        <td class="text-center">{{ content.env_type }}</td>
                                        <td class="text-center">{{ content.env_type }}</td>
                                        <td class="text-center">{{ content.cpu}}</td>
                                        <td class="text-center">{{ content.memory_gb}}</td>
                                        <td class="text-center">{{ content.request_vm_num }}</td>
                                        <td class="text-center">{{ content.apply_reason }}</td>
                                        <td class="text-center">{{ content.status }}</td>
                                        <td class="text-center">
                                            <button type="button" uib-popover-template="vmverify.dynamincPopover.templateUrl" class="btn btn-xs btn-info"  popover-placement="top" title="IP及机器用户密码" >详细
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                             <div class="row">
                                        <div class="col-sm-6">
                                            <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                                 
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <ul uib-pagination total-items="vmverify.totalItems" ng-model="vmverify.currentPage" ng-change="vmverify.pageChanged()" style="float:right"></ul>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>