<div class="wrapper wrapper-content animated fadeInRight" style="margin-top:1px" ng-controller="VmApllyController as vmapply">
    <div class="row">
        <div class="col-sm-11">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>申请页面</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="padding:1px 0px 20px">
                    <form class="form-horizontal" ng-submit="submitForm(vmapply.ApplyForm)" name="userapply" id="userapply" novalidate>
                        <div class="panel panel-default">
                            <div class="panel-heading" style="padding:5px 15px">基本配置：</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">环境类型:&nbsp;</label>
                                    <div class="dropdown col-sm-10">
                                        <button class="btn btn-sm btn-info dropdown-toggle dropdownMenu1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="env_list" style="height:30px">
                                            {{vmapply.ApplyForm.env_type}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1" style="font-size:13px;">
                                            <li ng-repeat="label in vmapply.envLabels">
                                                <a name="{{label}}" ng-click="vmapply.selectEnvtype(label)">{{label}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    <label class="col-sm-2 control-label">主机类型:&nbsp;</label>
                                    <div class="btn-group col-sm-10">
                                        <label class="btn btn-sm btn-info type" ng-model="vmapply.ApplyForm.fun_type" uib-btn-radio="'normal'" activeClass="typeactive">普通型</label>
                                        <label class="btn btn-sm btn-info type" ng-model="vmapply.ApplyForm.fun_type" uib-btn-radio="'highmemory'" activeClass="typeactive">内存型</label>
                                        <label class="btn btn-sm btn-info type" ng-model="vmapply.ApplyForm.fun_type" uib-btn-radio="'highIO'" activeClass="typeactive">I/O密集型</label>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    <label class="col-sm-2 control-label">CPU:&nbsp;</label>
                                    <div class="btn-group col-sm-10" data-toggle="buttons">
                                        <label class="btn btn-sm  btn-info type" ng-model="vmapply.ApplyForm.cpu" uib-btn-radio="2" activeClass="active">2C</label>
                                        <label class="btn btn-sm  btn-info type" ng-model="vmapply.ApplyForm.cpu" uib-btn-radio="4" activeClass="active">4C</label>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    <label class="col-sm-2 control-label">内存:&nbsp;</label>
                                    <div class="btn-group col-sm-10" data-toggle="buttons">
                                        <label class="btn btn-sm  btn-info type" ng-model="vmapply.ApplyForm.memory" uib-btn-radio="2" activeClass="active">2G</label>
                                        <label class="btn btn-sm  btn-info type" ng-model="vmapply.ApplyForm.memory" uib-btn-radio="4" activeClass="active">4G</label>
                                        <label class="btn btn-sm  btn-info type" ng-model="vmapply.ApplyForm.memory" uib-btn-radio="8" activeClass="active">8G</label>
                                        <label class="btn btn-sm  btn-info type" ng-model="vmapply.ApplyForm.memory" uib-btn-radio="16" activeClass="active">16G</label>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    <label class="col-sm-2 control-label">操作系统:&nbsp;</label>
                                    <div class="dropdown col-sm-10">
                                        <button class="btn btn-sm btn-info dropdown-toggle dropdownMenu2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="os_list" style="height:30px">
                                            {{vmapply.ApplyForm.OS_type}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2" style="font-size:13px;">
                                            <li ng-repeat="label in vmapply.OsLabels">
                                                <a name="{{label}}" ng-click="vmapply.selectOstype(label)">{{label}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">应用软件</label>
                                    <div class="col-sm-10" >
                                    <div ng-repeat="(soft, volume) in vmapply.softwares" style="float:left; padding-right:20px;">
                                        <div class="checkbox i-checks">
                                            <label>
                                                <input type="checkbox" 
                                                       value="0" 
                                                       name="software" 
                                                       ng-model="vmapply.ApplyForm.software[soft]"
                                                       ng-click="vmapply.changeVolume($event, volume)">
                                                <span class="checkbox-material">
                                            <span class="check"></span>
                                                </span>{{soft}}</label>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-heading" style="padding:5px 15px">磁盘配置：</div>
                            <div class="panel-body">
                                <div class="form-group" style="margin-bottom:5px">
                                    <label class="col-sm-2 control-label">系统盘:&nbsp;</label>
                                    <div class="col-sm-10">
                                        <p style="margin:5px">
                                            <label for="amount">&nbsp;50G</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    <label class="col-sm-2 control-label">数据盘:&nbsp;</label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-6">
                                            <rzslider rz-slider-model="vmapply.ApplyForm.dataVolume" rz-slider-options="vmapply.volumeslider.options"></rzslider>
                                        </div>
                                        <p style="padding-top:20px">
                                            <input type="number" id="data_volume" style="width:40px;" name="data_disk" ng-model="vmapply.ApplyForm.dataVolume" required>
                                            <label for="data_volume">&nbsp;G</label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-heading" style="padding:5px 15px">参数配置：</div>
                            <div class="panel-body">
                                <div class="form-group" style="margin-bottom:5px">
                                    <label class="col-sm-2 control-label">申请数量:&nbsp;</label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-6">
                                            <rzslider rz-slider-model="vmapply.ApplyForm.amount" rz-slider-options="{floor: 1, ceil: 6}"></rzslider>
                                        </div>
                                        <p style="padding-top:20px">
                                            <input type="number" id="amount" style="width:30px;" name="request_num" ng-model="vmapply.ApplyForm.amount" required>
                                            <label for="amount">&nbsp;台</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom:5px">
                                    <label class="col-sm-2 control-label">申请原因:&nbsp;</label>
                                    <div class="col-sm-10">
                                        <textarea name="apply_reason" cols="70" rows="2" placeholder="简单说明申请用途，不超过40字"
                                        ng-model="vmapply.ApplyForm.reason" 
                                        ng-minlength="4" 
                                        ng-maxlength="40" 
                                        required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-5 col-sm-7">
                                    <button type="button" class="btn btn-default" id="save_btn" ng-click="vmapply.saveApply()">保存</button>
                                    <button type="submit" class="btn btn-info" id="submit_btn" ng-disabled="userapply.$invalid || vmapply.ApplyForm.OS_type == '选择' || vmapply.ApplyForm.env_type == '选择'">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <pre>{{vmapply.ApplyForm}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
