
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="verifymodal.cancel()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">资源复核</h4>
            </div>
            <div class="modal-body">
                <!-- 用户表单 -->
                <div class="ibox-content">
                    <form class="form-horizontal" id="{{ key.id }}AgreeForm" role="form">
                        <div class="panel panel-default">
                           <verify-table titles="verifymodal.titles" contents="verifymodal.contents">
                           </verify-table>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="verifymodal.cancel()">关闭</button>
                <button type="button" class="btn btn-primary conf-agree-btn" ng-click="verifymodal.submitVerify(verifymodal.id)">提交</button>
            </div>
        </div>
