# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# IDE stuff:
/.idea/

# Project specific conigure files, and environment specific stuff:
/*.conf
/docker/
/keys/
/opsap-ui/node_module/
/opsap-ui/dist/
/opsap-ui/nodejs-jw*
DS_*
