<div id="wrapper" class="animated flipInY">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="slidebar-collapse">
            <ul class="nav" id='side-menu'>
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
            <img alt="image" class="img-circle" width="48" height="48" src="../src/assets/img/default-avatar.png" />
        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle">
                            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold"> test<span style="color: #8095a8"></span></strong>
                            </span>
                            <span class="text-muted text-xs block"> 超级管理员<b class="caret"></b>
                </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="iframe_user">个人信息</a></li>
                            <li><a >修改信息</a></li>
                            <li class="divider"></li>
                            <li><a>注销</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        华商
                    </div>
                </li>
                <li id="index">
                    <a ui-sref="#"><i class="fa fa-dashboard"></i> <span class="nav-label">仪表盘</span><span class="label label-info pull-right"></span></a>
                </li>
                <li id="juser">
                    <a role="button" data-toggle="collapse" data-target="#usermenu" aria-expanded="false" aria-controls="#usermenu"><i class="fa fa-group"></i> <span class="nav-label">用户管理</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" id="usermenu">
                        <li class="group"><a ui-sref="index.usergroup({operation:'list'})">查看用户组</a></li>
                        <li class="user"><a ui-sref="index.user({operation:'list'})">查看用户<span class="label label-primary pull-right">{{nav.title}}</span></a></li>
                    </ul>
                </li>
                <li id="vmmanager">
                    <a role="button" data-toggle="collapse" data-target="#vmmenu" aria-expanded="false" aria-controls="#vmmenu"><i class="fa fa-vimeo-square"></i> <span class="nav-label">资源管理</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" id="vmmenu">
                        <li class="apply"><a ui-sref="index.vmmanager({operation:'apply'})">资源申请</a></li>
                        <li class="list"><a ui-sref="index.vmmanager({operation:'verify'})">申请审批</a></li>
                        <li class="resource"><a ui-sref="index.vmmanager({operation:'list'})">申请查询</a></li>
                        <li id="vmmanagersaving_resource"><a ui-sref="index.vmmanager({operation:'manage'})"><span class="nav-label">任务管理</span></a></li>
                        <li class="set_vm"><a href="#">初始化配置</a></li>
                    </ul>
                </li>
                <li id='datamanager'>
                    <a role="button" data-toggle="collapse" data-target="#dmmenu" aria-expanded="false" aria-controls="#dmmenu"><i class="fa fa-magnet"></i> <span class="nav-label">数据备份管理</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" id="dmmenu">
                        <li class="list"><a ui-sref="index.datamanager({operation:'list'})">查看数据备份</a></li>
                        <li class="check"><a ui-sref="index.datamanager({operation:'check'})">每日备份<span class="label label-primary pull-right">17</span><span class="label label-danger pull-right">4</span></a></li>
                    </ul>
                </li>
                <li id='databackup'>
                    <a href="#"><i class="fa fa-database"></i> <span class="nav-label">数据库管理</span><span class="label label-info pull-right"></span></a>
                </li>
                <li id='netmanager'>
                    <a href="#"><i class="fa fa-tasks"></i> <span class="nav-label">网络管理</span><span class="label label-info pull-right"></span></a>
                </li>
                <li id='cmdb'>
                    <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">CMDB</span><span class="label label-info pull-right"></span></a>
                </li>
                <li id='statics'>
                    <a href="#"><i class="fa fa-bar-chart"></i> <span class="nav-label">统计报表</span><span class="label label-info pull-right"></span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <menu-tab></menu-tab>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">欢迎使用华商自动化运维平台</span>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <span class="m-r-sm text-muted welcome-message"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- 树形标题 -->
<!--         <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-10">
                <h2>{{ header_title }}</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{% url 'index' %}">仪表盘</a>
                    </li>
                    <li>
                        {% if path1 %}
                        <a>{{ path1 }}</a> {% endif %}
                    </li>
                    {% if path2 %}
                    <li class="active">
                        <strong>{{ path2 }}</strong>
                    </li>
                    {% endif %}
                </ol>
            </div>
            <div class="col-sm-2">
            </div>
        </div> -->
        <!-- 内容 -->
        <div class="wrapper wrapper-content animated fadeInright" ui-view>
             <div id="main" style="height:400px" echarts-bar getdata="nav.asyncGetChartsData()" title="nav.title"></div>
        </div>
        <!-- 固定底部 -->
        <div class="footer fixed">
            <div class="pull-right"><strong>copyright</strong> CMB DevOps Team &copy; 2016</div>
        </div>
    </div>
</div>
