setuptools>=19.3
django==1.8.13
pycrypto==2.6.1
MySQL-python==1.2.5
django-bootstrap-form==3.2
requests
six
singledispatch
certifi
backports-abc>=0.4
backports.ssl-match-hostname
tornado==4.3
pyinotify==0.9.6
anyjson>=0.3.3
amqp>=1.4.9,<2.0
kombu>=3.0.34,<3.1
billiard>=3.3.0.23,<3.4
pytz>dev
celery==3.1.23
django-celery==3.1.17
pyvmomi>=6.0.0
