<div class="wrapper wrapper-content animated fadeInRight" ng-controller="DatamanagerController as datactrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div id="ibox-content" class="ibox-title">
                    <h5> 备份文件详细信息列表 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                <pre>{{datactrl.selectForm}} </pre>
                    <form class="form-inline" name="searchdata" ng-submit="datactrl.searchForm(datactrl.selectForm)">
                    
                        <div class="form-group" id="date_5">
                            <div class="input-daterange input-group" id="datepicker">
                                <p class="input-group">
                                    <input type="text" name="startdate" class="form-control" uib-datepicker-popup ng-model="datactrl.startdate"  is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" style="width:100px"/>
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-xs btn-success" ng-click="open1()"><i class="fa fa-calendar"></i></button>
          </span>
                                </p>
                            </div>
                        </div>
                        to
                        <div class="form-group" id="date_5">
                            <div class="input-daterange input-group" id="datepicker">
                                <p class="input-group">
                                    <input type="text" name="enddate" class="form-control" uib-datepicker-popup ng-model="datactrl.enddate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" style="width:100px"/>
                                    <span class="input-group-btn">
            <button type="button" class="btn btn-xs btn-success" ng-click="open2()"><i class="fa fa-calendar"></i></button>
          </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <select name="filename" data-placeholder="全部文件" class="input-sm" tabindex="2" style="margin:0 10px 20px 0" ng-model="datactrl.selectForm.filename" ng-options="file.name as file.desc for file in datactrl.files">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <select name="filestatus" class="input-sm" tabindex="4" style="margin:0 10px 20px 0" ng-model="datactrl.selectForm.filestatus">
                                    <option value="exits">文件存在</option>
                                    <option value="deleted">文件已删除</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <select name="emc" data-placeholder="车公庙机房" class="input-sm" tabindex="4" style="margin:0 10px 20px 0" ng-model="datactrl.selectForm.emc">
                                    <option value="CGM">车公庙机房</option>
                                    <option value="DF">东风机房</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="float:right">
                            <input id="cmd" name="cmd" placeholder="search" type="text" class="form-control" style="width:100px" ng-model="datactrl.selectForm.condition" ng-disabled="dt > dd">
                            <button id='search_btn' type="submit" class="btn btn-sm btn-primary">
                                - 搜索 -
                            </button>
                            <button id='search_btn' type="button" class="btn btn-sm btn-success" ng-click="exportXLS()">
                                - 导出 -
                            </button>
                        </div>
                    </form>
                    <table class="table table-striped table-bordered table-hover " style="margin-top:20px">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <input type="checkbox"> </th>
                                <th class="text-center"> 文件名称 </th>
                                <th class="text-center">　文件大小 </th>
                                <th class="text-center"> MD5 </th>
                                <th class="text-center"> 应用名称 </th>
                                <th class="text-center"> 备份日期 </th>
                                <th class="text-center"> 到达时间 </th>
                                <th class="text-center"> 操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="gradeX" ng-repeat="data in datactrl.backupdatas">
                                <td class="text-center"> {{ data.id }} </td>
                                <td class="text-center username"> {{ data.user }} </td>
                                <td class="text-center ip"> {{ data.host }} </td>
                                <td class="text-center remote_ip"> {{ data.remote_ip }} </td>
                                <td class="text-center"> {{ data.login_type }} </td>
                                <td class="text-center">{{data.time}}</td>
                                <td class="text-center">{{data.filename}}</td>
                                <td class="text-center start_time"> </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <ul uib-pagination total-items="user.totalItems" ng-model="user.currentPage" style="float:right"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
