<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> 查看用户组</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="">
                        <a ui-sref="index.usergroup({operation:'add'})" class="btn btn-sm btn-primary "> 添加用户组 </a>
                        <button id="del_btn" class="btn btn-sm btn-danger " ng-click="usergroup.deleteSelect(usergroup.selected)"> 删除所选 </button>
                        <form id="search_form" method="get" action="" class="pull-right mail-search">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" id="search_input" name="search" placeholder="Search">
                                <div class="input-group-btn">
                                    <button id='search_btn' type="submit" class="btn btn-sm btn-primary">
                                        -搜索-
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table table-striped table-bordered table-hover " id="editable">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <input type="checkbox" id="select_all" name="select_all" ng-click="usergroup.setSelectAll($event)">
                                </th>
                                <th class="text-center">组名</th>
                                <th class="text-center">成员数目</th>
                                <th class="text-center">备注</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="gradeX" ng-repeat="group in usergroup.usergroup">
                                <td class="text-center">
                                    <input class="shiftCheckbox" type="checkbox" name="selected" value="{{ group.id }}" ng-checked="usergroup.isSelected(group.id)" ng-click="usergroup.updateSelection($event, group.id)">
                                </td>
                                <td class="text-center"> {{ group.name }} </td>
                                <td class="text-center">
                                    <a ui-sref="#"> {{ group.id }}</a>
                                </td>
                                <td class="text-center"> {{ group.comment }} </td>
                                <td class="text-center">
                                    <a ui-sref="#" class="btn btn-xs btn-info">编辑</a>
                                    <a ui-sref="#" class="btn btn-xs btn-danger del">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pre>{{usergroup.selected}}</pre>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <ul uib-pagination total-items="usergroup.totalItems" ng-model="user.currentPage" style="float:right"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
