<tr class="gradeX" ng-repeat="group in usergroup.group">
    <td class="text-center">
        <input class="shiftCheckbox" type="checkbox" name="selected" value="{{ group.id }}" ng-model="">
    </td>
    <td class="text-center"> {{ group.name }} </td>
    <td class="text-center">
        <a href="{% url 'user_list' %}?gid={{ group.id }}"> {{ group.id | members_count }}</a>
    </td>
    <td class="text-center"> {{ group.comment }} </td>
    <td class="text-center">
        <a href="{% url 'user_group_edit' %}?id={{ group.id }}" class="btn btn-xs btn-info">编辑</a>
        <a value="{% url 'user_group_del' %}?id={{ group.id }}" class="btn btn-xs btn-danger del">删除</a>
    </td>
</tr>
