<div class="middle-box text-center loginscreen  animated fadeInDown">
    <img class="logo" src="../src/assets/img/logo.png">
    <h2>华商自动化运维平台</h2>
    <div class="form-group">
        <input type="text" ng-model="login.user.username" class="form-control" placeholder="用户名" required>
    </div>
    <div class="form-group">
        <input type="password" ng-model="login.user.password" class="form-control" placeholder="密码" ng-keyup="login.checkEnter($event)" required>
    </div>
    <button class="btn btn-success block full-width" ng-click="login.login()">Login</button>
    <div class="alert alert-danger text-center" ng-show="login.alertShow">{{ login.alertMsg }}</div>
    <p class="m-t"> <small><b>Copyright</b> CMB DevOps team © 2016-2016 </small> <span></span></p>
</div>
